/* Fixed title styling */
.fixed-title {
    background: #0E1117;
    position: fixed;
    color: white;
    top: 20px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 30px;
    padding: 10px 0 0 0;
    z-index: 1000;
    text-align: left;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

.query-box {
    margin-top: 3rem;
    font-size: 12px;
    float: right;
    color: white;
    padding: .7rem 1rem .1rem;
    border-radius: 1rem;
    background: #3d3d3d;
    z-index: -1;
}

.query-box1 {
    margin-top: 3rem;
    font-size: 12px;
    float: right;
    color: white;
    padding: .7rem 1rem .1rem;
    border-radius: 1rem;
    background: #3d3d3d;
    z-index: -1;
}

.response-box {
    margin-top: 1rem;
    font-size: 15px;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background: #1e1e1e;
    color: white;
}

/* History panel styling */
.history-panel {
    flex: 1;
    padding: 20px;
    border-left: 2px solid #f0f0f0;
    height: 100vh;
    overflow-y: auto;
}

.stSidebar > div:first-child {
    width: 350px; /* Adjust the width as needed */
}

.stSidebar button {
    width: 100%; /* Make the buttons take full width */
    white-space: normal; /* Allow the text to wrap */
    text-align: left; /* Align the text to the left */
    background-color: transparent;
    border: none;
    padding: 10px;
    margin-bottom: 5px;
    cursor: pointer;
}

.stSidebar button:hover {
    background-color: #e0e0e0; /* Light gray background on hover */
    color: #000000; /* Black text color on hover */
}

/* Button styling */
.stButton button {
    border: none;
    background-color: transparent;
}

.stButton button:hover {
    color: darkblue;
    background-color: white;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .query-box,
    .response-box {
        font-size: 14px;
        padding: 8px;
    }

    .stSidebar > div:first-child {
        width: 100%;
    }
}
