/* Fixed title styling */
.fixed-title {
    background: #0E1117;
    position: fixed;
    top: 20px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom:30px;
    padding: 10px 0 0 0;
    z-index: 1000;
    text-align: left;
}
body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}
.query-box {
    margin-top: 3rem;
    float: right;
    font-size: 12px;
    color: white;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background: #3d3d3d;
    z-index: -1;
}
.query-box1 {
    margin-top: 3rem;
    float: right;
    font-size: 12px;
    color: white;
    padding: .5rem 1rem;
    border-radius: 1rem;
    background: #3d3d3d;
    z-index: -1;
}
.response-box {
    align-self: flex-end;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.response-box::after {
    right: 20px;
    bottom: 100%;
}

/* History panel styling */
.history-panel {
    flex: 1;
    padding: 20px;
    border-left: 2px solid #f0f0f0;
    height: 100vh;
    overflow-y: auto;
}

/* Button styling */
.stButton button {
    border: none;
    background-color: transparent;
}

.stButton button:hover {
    color: darkblue;
    background-color: white;
}

/* Responsive adjustments */
@media (max-width: 600px) {
    .query-box,
    .response-box {
        font-size: 14px;
        padding: 8px;
    }
}
