/* Fixed title styling */
.fixed-title {
    background: #0E1117;
    position: fixed;
    top: 20px;
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 40px;
    /* background-color: white; */
    padding: 10px  0 0 0;
    z-index: 1000;
    /* border-bottom: 2px solid #f0f0f0; */
    text-align: left; /* Center the title */
}

body {
    padding-top: 70px; /* Adjust based on the height of your fixed title */
}

/* Chat container */
.container {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.chat-box {
    max-width: 70%;
    margin: 10px;
    padding: 15px;
    border-radius: 20px;
    position: relative;
    line-height: 1.4;
}

.query-box {
    /* background-color: #e6e6e6; */
    /* display: flex;
    text-align: left; */
    margin-top: 4rem;
    float: right;
    font-size: 12px;
    /* align-self: flex-end; */
    color: white; /* Your custom color */
    /* margin-bottom: 5px; */
    padding: .5rem 1rem;
    border-radius: 1rem;
    background: #3d3d3d;
    /* height: auto; */
    /* width: auto; */
    z-index: -1;
}


.response-box {
    /* background-color: #cfe9ff; */
    align-self: flex-end;
    padding: 10px;
    top :0%;
    margin-bottom: 5px;
    border-radius: 5px;
    overflow: scroll;
}

.chat-box::after {
    content: "";
    position: absolute;
    border-width: 10px;
    border-style: solid;
}

/* .query-box::after {
    border-color: #e6e6e6 transparent transparent transparent; 
    left: 20px;
    bottom: 100%;
} */

.response-box::after {
    /* border-color: #cfe9ff transparent transparent transparent; */
    right: 20px;
    bottom: 100%;
}

/* History panel styling */
.history-panel {
    flex: 1;
    padding: 20px;
    border-left: 2px solid #f0f0f0;
    height: 100vh; /* Full height */
    overflow-y: auto; /* Scrollable */
}



/* Button styling */
.stButton button {
    border: none;
    background-color: transparent;
    margin-top: 1.8rem;
    color: white;
    font-size: 19px;
    cursor: pointer;
    width: 100%;

}

.stButton button:hover {
    color: darkblue;
    background-color: white;
}

.custom-input-class {
    border: 2px solid #3498db;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    background-color: #3498db;
    width: 1%;
}
/* Responsive adjustments */
@media (max-width: 600px) {
    .query-box,
    .response-box {
        font-size: 14px;
        padding: 8px;
    }
}
